@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
.container {
  background-color: #3f70f3;
  height: 1000px;
  width: 0 auto;
}
.text h1 {
  color: white;
  font-size: 101px;
  padding-left: 783px;
  padding-top: 201px;
  line-height: 1.2;
}
.form {
  width: 400px;
  background-color: white;
  margin-left: 284px;
  margin-top: -475px;
  padding: 40px 30px 40px 30px;
  border-radius: 5px;
}
.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: lightgray solid;
  box-shadow: 0.5px 0.5px 1px lightgrey;
  font-size: 16px;
  font-weight: 300;
}
.form h2 {
  margin-bottom: 30px;
  font-weight: 550;
}
.form button {
  width: 100%;
  padding: 12px 15px 12px 15px;
  border-radius: 5px;
  border: none;
  background-color: #3f70f3;
  color: white;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
}
.foot p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.foot p a {
  text-decoration: none;
}
